#appSlider {
  background-color: @appSlider-bg;
  height: 100vh;
  position: relative;
  .row {
    margin: 0;
  }
  .app-desc {
    margin-top: 80px;
    .app-devices {
      margin: 0 auto;
      width: 114px;
      .clearfix;
    }
    h4 {
      .pxToEm(36);
      color: @appSlider-text;
      text-align: center;
      span {
        text-transform: uppercase;
      }
    }
    p {
      .pxToEm(22);
      font-family: "Zona-Light", sans-serif;
      color: @appSlider-text;
      text-align: center;
    }
  }
  .app-wrapper {
    margin-top: 40px;
    padding: 71px 0 0;
    position: relative;
    text-align: center;
    width: 100%;
    overflow: hidden;
    .slider {
      text-align: center;
      margin: 0 auto;
      .owl-carousel {
        z-index: 15;
        .owl-stage-outer {
          width: 275px;
          .owl-stage {
            height: 484px;
            overflow-y: hidden;
          }
          .owl-item {
            .item {
              height: 484px;
              width: 275px;
              opacity: 0.3;
            }
            img {
              max-width: 100%;
              display: block;
            }
          }
          .center {
            .item {
              opacity: 1 !important;
            }
          }
        }
        .owl-controls {
          padding: 130px 0 0 0;
        }
        .owl-nav {
          &> div {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 50%;
            margin-top: -15px;
            background-position: top left;
            background-repeat: no-repeat;
            text-indent: -9999px;
            z-index: 26;
          }
          .owl-prev {
            left: 80px;
            background-image: url('../img/app-slider-prev.png');
            z-index: 26;
          }
          .owl-next {
            right: 80px;
            background-image: url('../img/app-slider-next.png');
            z-index: 26;
          }
        }
        .owl-dots {
          width: 100%;
          text-align: center;
          .owl-dot {
            display: inline-block;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            width: 13px;
            height: 13px;
            border: 2px solid;
            border-color: @point-border;
            background: @point-bg;
            margin: 0 10px;
            border-radius: 100%;
          }
          .owl-dot.active {
            span {
              border-color: @point-border1;
              background: transparent;
            }
          }
        }
      }
    }
    .iphone-mockup {
      top: 0;
      left: 50%;
      margin-left: -160px;
      width: 320px;
      height: 630px;
      background: url("../img/app/iphone.png") no-repeat -21px 0;
      position: absolute;
      z-index: 1;
    }
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      box-shadow: 0 0 150px 400px rgba(255,255,255,1);
      z-index: 20;
    }
    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      box-shadow: 0 0 150px 400px rgba(255,255,255,1);
      z-index: 20;
    }
  }
  .owl-carousel {
    width: 100%;
  }
}
#paveOs {
  background-color: @paveOs-bg;
  z-index: 6;
  .counters {
    a {
      font-size: 10px;
    }
    &:after {
      clear: both;
      content: '';
      display: table;
    }
    .counter {
      position: relative;
      border-right: 1px solid @paveOs-border;
      overflow: hidden;
      height: 365px;
      &> div {
        position: relative;
        top: 0;
        height: 365px;
        padding: 65px 0 60px 0;
        -webkit-transition: top 0.6s ease 0s;
           -moz-transition: top 0.6s ease 0s;
                transition: top 0.6s ease 0s;
      }
      &> a.active {
        position: relative;
        top: 0;
        height: 365px;
        display: block;
        -webkit-transition: top 0.6s ease 0s;
        -moz-transition: top 0.6s ease 0s;
        transition: top 0.6s ease 0s;
        &> div {
          height: 365px;
          padding: 65px 0 60px 0;
        }
      }
      span {
        display: block;
        text-align: center;
        font-family: "Zona-Light", sans-serif;
        font-weight: 300;
      }
      .title {
        color: @paveOs-title;
        .pxToEm(32);
        margin-bottom: 20px;
        line-height: 1.5;
      }
      .count {
        color: @paveOs-count;
        min-height: 128px;
        margin-bottom: 20px;
      }
      .download {
        color: @paveOs-download;
        .pxToEm(18);
      }
      .active {
        span {
          position: relative;
          top: 10%;
          opacity: 0;
          visibility: hidden;
        }
        .download {
          font-weight: 700;
          font-family: "Zona Pro Bold", sans-serif;
        }
      }
      &:last-child {
        border: none;
      }
      &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        left: 0;
        bottom: 0;
        background: @paveOs-bg2;
        z-index: -1;
        -webkit-transition: height 0.6s ease 0s;
           -moz-transition: height 0.6s ease 0s;
                transition: height 0.6s ease 0s;
      }
      &:hover {
        &:before {
          height: 100%;
          width: 100%;
        }
        &> div {
          top: -365px;
        }
        &> a.active {
          top: -365px;
        }
        .active {
          .title {
            top: 0;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s ease-in 0.5s;
            -moz-transition: all 0.3s ease-in 0.5s;
            transition: all 0.3s ease-in 0.5s;
          }
          .count {
            top: 0;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s ease-in 0.7s;
            -moz-transition: all 0.3s ease-in 0.7s;
            transition: all 0.3s ease-in 0.7s;
          }
          .download {
            top: 0;
            opacity: 1;
            visibility: visible;
            -webkit-transition: all 0.3s ease-in 0.9s;
            -moz-transition: all 0.3s ease-in 0.9s;
            transition: all 0.3s ease-in 0.9s;
          }
        }
      }
    }
  }
  .owl-carousel {
    .owl-stage-outer {
      width: 100%;
      overflow: hidden;
    }
    .owl-item {
      img {
        width: auto;
        display: inline-block;
      }
    }
    .owl-controls {
      position: absolute;
      left: 50%;
      margin-left: -61px;
      bottom: 25px;
    }
    .owl-dots {
      .owl-dot {
        float: left;
        margin-left: 30px;
        &:first-child {
          margin: 0;
        }
      }
      span {
        background: #fff;
        display: block;
        border-radius: 100%;
        border: 2px solid #fff;
        width: 21px;
        height: 21px;
      }
      .active {
        span {
          background: transparent;
        }
      }
    }
  }
}
#sendApp {
  background-color: #fff;
  z-index: 5;
  overflow: hidden;
  position: relative;
  &:before {
    content: '';
    background-color: @sendApp-bg;
    background-image: url('../img/bottom-part/sendApp-bg.png');
    background-position: center -40px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    -webkit-transition: all 3s ease 0s;
    -moz-transition: all 3s ease 0s;
    transition: all 3s ease 0s;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 340px;
  }
  &.scale {
    &:before {
      transform: scale(1.02);
      margin-top: -7px;
    }
  }
  .sendApp {
    float: none;
    z-index: 10;
    display: table;
    height: 340px;
    width: 100%;
    &> .row {
      display: table-cell;
      vertical-align: middle;
    }
    &:before {
      background: rgba(255,255,255,0.68);
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  p {
    .pxToEm(32);
    color: @sendApp-text;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Zona-Light";
  }
  button {
    background: transparent;
    border: 1px solid;
    border-color: @sendApp-border;
    border-radius: 40px;
    color: @sendApp-btn;
    height: 38px;
    width: 195px;
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    text-transform: uppercase;
    font-family: "Zona Pro", sans-serif;
    font-weight: 400;
    .pxToEm(14);

    &:hover, &:active, &:focus {
      color: @sendApp-btn2;
      background: @sendApp-btn;
    }
  }
  .sendForm {
    width: 86%;
    height: 38px;
    display: block;
    margin-left: 7%;
    position: relative;
    button {
      background: @sendApp-btn;
      border: 1px solid;
      border-color: @sendApp-border;
      border-radius: 40px;
      color: @sendApp-btn2;
      height: 38px;
      width: 136px;
      display: block;
      margin: 0 auto;
      padding: 5px 20px;
      text-transform: uppercase;
      font-family: "Zona Pro", sans-serif;
      font-weight: 400;
      .pxToEm(14);
    }
    .btn-send {
      position: absolute;
      margin-right: -68px;
      right: 50%;
      top: 0;
    }
    input[type=text] {
      text-transform: uppercase;
      color: #d2d2d2;
      font-family: "Zona Pro", sans-serif;
      .pxToEm(14);
      border: 1px solid;
      border-color: @sendApp-border1;
      border-radius: 40px;
      height: 38px;
      width: 100%;
      opacity: 0;
      padding: 13px 160px 13px 30px;
      -webkit-transition:  all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
    }
    input.input-ms::-webkit-input-placeholder {
      color: #fff;
      opacity: 0;
    }
    input.input-ms::-moz-placeholder {
      color: #fff;
      opacity: 0;
    }
    input.input-ms:-moz-placeholder {
      color: #fff;
      opacity: 0;
    }
    input.input-ms:-ms-input-placeholder {
      color: #fff;
      opacity: 0;
    }
    input.placeholder::-webkit-input-placeholder {
      opacity: 1;
      color: #d2d2d2;
      -webkit-transition: all 1s ease 1s;
      -moz-transition: all 1s ease 1s;
      transition: all 1s ease 1s;
    }
    input.placeholder::-moz-placeholder {
      opacity: 1;
      color: #d2d2d2;
      -webkit-transition: all 1s ease 1s;
      -moz-transition: all 1s ease 1s;
      transition: all 1s ease 1s;
    }
    input.placeholder:-moz-placeholder {
      opacity: 1;
      color: #d2d2d2;
      -webkit-transition: all 1s ease 1s;
      -moz-transition: all 1s ease 1s;
      transition: all 1s ease 1s;
    }
    input.placeholder:-ms-input-placeholder {
      opacity: 1;
      color: #d2d2d2;
      -webkit-transition: all 1s ease 1s;
      -moz-transition: all 1s ease 1s;
      transition: all 1s ease 1s;
    }
  }
}
#speTech {
  z-index: 6;
  position: relative;
  height: 100vh;
  background-image: url('../img/speTech-bg.jpg');
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 160px 0;
  overflow: hidden;
  .columns {
    padding: 0;
    height: 100%;
    .row {
      padding: 0 15px;
    }
  }
  .speTech {
    height: 33.3333%;
    min-height: 215px;
    padding-bottom: 40px;
    color: @speTech-text;
    .pxToEm(12);
    font-family: "Zona Pro", sans-serif;
    h4 {
      font-family: "Zona Pro Bold", sans-serif;
      margin: 0;
    }
    .icons {
      width: 49px;
      height: 49px;
      display: block;
      margin-bottom: 10px;
      position: relative;
      background-position: top left;
      background-repeat: no-repeat;
      &.icon1 {
        background-image: url('../img/speTech-icon1.png');
      }
      &.icon2 {
        background-image: url('../img/speTech-icon2.png');
      }
      &.icon3 {
        background-image: url('../img/speTech-icon3.png');
      }
      &.icon4 {
        background-image: url('../img/speTech-icon4.png');
      }
      &.icon5 {
        background-image: url('../img/speTech-icon5.png');
      }
      &.icon6 {
        background-image: url('../img/speTech-icon6.png');
      }
      &.icon7 {
        background-image: url('../img/speTech-icon7.png');
      }
      &.icon8 {
        background-image: url('../img/speTech-icon8.png');
      }
      &:after {
        width: 49px;
        height: 49px;
        display: block;
        content: '';
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      &.iconsClick:after {
        border: 2px solid rgba(111,148,182,0.5);
        -webkit-animation: anim-icons 0.8s ease-out forwards;
        animation: anim-icons 0.8s ease-out forwards;
      }
      @-webkit-keyframes anim-icons {
        0% {
          opacity: 1;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
        to {
          opacity: 0;
          -webkit-transform: scale3d(1.4, 1.4, 1);
          transform: scale3d(1.4, 1.4, 1);
        }
      }
      @keyframes anim-icons {
        0% {
          opacity: 1;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
        to {
          opacity: 0;
          -webkit-transform: scale3d(1.4, 1.4, 1);
          transform: scale3d(1.4, 1.4, 1);
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 0 0 0 15px;
        position: relative;
        &:before {
          position: absolute;
          content: '-';
          left: -1px;
        }
      }
    }
    .description {
      position: relative;
      top: 10%;
      opacity: 0;
      transition: all 0.2s ease 0s;
    }
  }
  .owl-carousel {
    .owl-stage-outer {
      width: 100%;
    }
    .owl-controls {
      position: absolute;
      left: 50%;
      margin-left: -61px;
    }
    .owl-dots {
      .owl-dot {
        float: left;
        margin-left: 30px;
        &:first-child {
          margin: 0;
        }
      }
      span {
        background: #fff;
        display: block;
        border-radius: 100%;
        border: 2px solid #fff;
        width: 21px;
        height: 21px;
      }
      .active {
        span {
          background: transparent;
        }
      }
    }
  }
}
#slideImg2 {
  z-index: 5;
  .clearfix;
  &.section {
    background: url('../img/slideImg2-bg.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  .slideImg2 {
    height: 678px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    h2 {
      .pxToEm(66);
      line-height: 66px;
      font-family: "Zona Pro Bold", sans-serif;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      margin: 0;
    }
  }
}
#camera {
  z-index: 6;
  position: relative;
  height: 100vh;
  background-color: @camera-bg;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../img/bottom-part/camera-bg.jpg');
  background-size: 100% 100%;
  &> .container {
    &> .row {
      display: table;
    }
  }
  .content {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    &> div {
      position: relative;
      height: 100%;
      &:nth-child(1) {
        overflow: hidden;
      }
      &:nth-child(2) {
        padding: 0;
      }
    }
    .hideMobile {
      display: block !important;
    }
    .visibleMobile {
      text-align: center;
      display: none !important;

      .stamp {
        display: inline-block;
        text-transform: uppercase;
        font-family: "Zona Pro Bold", sans-serif;
        .pxToEm(16);
        color: @camera-stamp-text;
        background-color: @camera-stamp-bg;
        padding: 3px 9px;
      }
      .title {
        color: @camera-content-text;
        margin: 0 0 0.35em 0;
        line-height: 0.85em;
        font-weight: 100;
        font-family: "Zona-Light", sans-serif;
        .pxToEm(75);
      }
      .price {
        font-weight: 100;
        font-family: "Zona-Light", sans-serif;
        font-size: 24px;
      }
    }
    .cameraSlider {
      height: 100%;
      width: 100%;
      display: table;
      position: relative;
      text-align: center;
      .visual-camera {
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .slider {
          display: block;
          max-width: 610px;
          overflow: hidden;
          margin: 0 auto;
        }
        img {
          max-width: 360px;
          width: 100%;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
    .owl-stage-outer {
      padding: 20px 0;
    }
    .owl-controls {
      position: absolute;
      width: 100%;
      left: 0;
      padding-top: 25px;
      text-align: center;
      z-index: 200;
      .owl-nav {
        display: none;
        &> div {
          position: absolute;
          content: '';
          width: 60px;
          height: 60px;
          top: 50%;
          margin-top: -30px;
          background-position: 0 0;
          background-repeat: no-repeat;
          text-indent: -10000px;
        }
        .owl-prev {
          background-image: url('../img/bottom-part/control-prev.png');
          left: 20px;
        }
        .owl-next {
          background-image: url('../img/bottom-part/control-next.png');
          right: 20px;
        }
      }
      .owl-dot {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 2px solid;
        border-color: @point-border;
        background: @point-bg;
        margin: 0 5px;
        border-radius: 100%;
        &.active {
          border-color: @point-border1;
          background: transparent;
        }
        &:focus, &:active {
          background-color: @point-border1;
          border-color: @point-border1;
          position: relative;
          width: 17px;
          //top: -2px;
          height: 17px;
          margin: 0 3px;
          z-index: 3;
          &:before {
            z-index: -1;
            position: absolute;
            content: '';
            width: 31px;
            height: 31px;
            top: -9px;
            left: -9px;
            border-radius: 100%;
            box-shadow: inset 0 0 10px 10px rgba(68,187,255,0.3);
            background: transparent;
          }
        }
      }
    }
    .buy-block {
      display: table;
      height: 100%;
      &> div {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
      }
      .stamp {
        display: inline-block;
        text-transform: uppercase;
        font-family: "Zona Pro Bold", sans-serif;
        .pxToEm(16);
        color: @camera-stamp-text;
        background-color: @camera-stamp-bg;
        padding: 3px 9px;
      }
      .title {
        color: @camera-content-text;
        margin: 0 0 0.35em 0;
        line-height: 0.85em;
        font-weight: 100;
        font-family: "Zona-Light", sans-serif;
        .pxToEm(74);
        .price {
          font-weight: 100;
          font-family: "Zona-Light", sans-serif;
          font-size: 24px;
        }
      }
      .subtitle {
        margin: 0 0 0.2em;
        color: @camera-content-text;
        font-family: "Zona Pro SemiBold", sans-serif;
        .pxToEm(18);
      }
      .description {
        color: @camera-content-text;
        line-height: 29px;
        margin-bottom: 30px;
        .pxToEm(16);
      }
      .share {
        border-top: 1px solid @camera-share-border;
        .inTheBox {
          cursor: pointer;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            width: 8px;
            height: 14px;
            right: 0;
            top: 13px;
            background-position: top left;
            background-image: url('../img/inTheBox.png');
          }
        }
        &> div {
          border-bottom: 1px solid @camera-share-border;
          padding: 10px 0;
        }
        span {
          font-family: "Zona-Light", sans-serif;
          .pxToEm(14);
          font-weight: 300;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          float: right;
          li {
            float: left;
            margin-left: 10px;
          }
        }
      }
      .buy {
        margin-top: 35px;
        .btn-buy {
          .pxToEm(17);
          width: 180px;
          height: 40px;
          border-radius: 100px;
          text-transform: uppercase;
          color: @camera-btn-text;
          padding: 5px 20px 5px 50px;
          background: transparent;
          background: @camera-btn-bg;
          border: 2px solid;
          border-color: @camera-btn-border;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            top: 9px;
            left: 20px;
            width: 19px;
            height: 19px;
            background: url('../img/shopping-cart-white.png') no-repeat 0 0;
          }
        }
      }
    }
  }
  .inBox {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    .inBox-btn {
      position: absolute;
      margin-left: 35px;
      margin-top: 35px;
      top: 0;
      left: 0;
      z-index: 220;
    }
    #inBoxClose {
      float: left;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      //span.icon-bar {
      //  display: block;
      //  width: 36px;
      //  height: 4px;
      //  border-radius: 3px;
      //  background-color: @inBox-bg;
      //}
      //.icon-bar + .icon-bar {
      //  margin-top: 6px;
      //}
      .glyphicon-remove {
        .pxToEm(24);
        color: @inBox-bg;
      }
    }
    .inBox-collapse {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 210;
      left: -100%;
    }
    .inBox-cnt {
      background: #fff;
      padding-top: 62px;
      margin: 0;
      h2 {
        margin: 40px 0 80px 90px;
      }
      .row {
        margin: 0;
        height: ~"calc(100% - 163px)";
        &> div {
          border-top: 1px solid;
          border-color: @inBox-border;
          height: 33.3333%;
          position: relative;

          &:nth-child(n+1) {
            border-left: 1px solid;
            border-color: @inBox-border;
          }
        }
      }
      .feature {
        position: relative;
        top: 10%;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in 0s;
        -moz-transition: all 0.3s ease-in 0s;
        transition: all 0.3s ease-in 0s;
        display: table;
        text-align: center;
        height: 100%;
        width: 100%;
        .image {
          height: 100%;
          width: 100%;
          display: table-cell;
          vertical-align: middle;
        }
        img {
          display: inline-block;
          vertical-align: middle;
        }
        h4 {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          margin: 25px 0;
          font-family: "Zona-Light", sans-serif;
          .pxToEm(16);
          text-align: center;
        }
      }
    }
  }
}
#footer {
  background-color: @footer-bg;
  .row {
    padding: 85px 0;
  }
  .giroptic-footer-row {
    border-bottom: 1px solid;
    border-color: @footer-border;
    text-align: center;
  }
  h3 {
    margin: 0;
  }
  .follow-us {
    height: 100%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 200px;
      li {
        float: left;
        width: 25%;
        a {
          cursor: pointer;
          display: block;
          margin: 0 auto;
          overflow: hidden;
          height: 38px;
          width: 38px;
          &.facebook-icon {
            background: url('../img/facebook_icon_hover.png') no-repeat 50%;
            background-size: 100%;
          }
          &.twitter-icon {
            background: url('../img/twitter_icon_hover.png') no-repeat 50%;
            background-size: 100%;
          }
          &.googleplus-icon {
            background: url('../img/google-plus_icon_hover.png') no-repeat 50%;
            background-size: 100%;
          }
          &.youtube-icon {
            background: url('../img/youtube_icon_hover.png') no-repeat 50%;
            background-size: 100%;
          }
        }
      }
      &:after {
        display: table;
        content: '';
        clear: both;
      }
    }
  }
  .newsletter {
    height: 100%;
    .input-sub {
      float: none;
      height: 38px;
      margin: 0 auto;
      position: relative;
      .mail_icon {
        background-color: @footer-mail-bg;
        background: url('../img/email_icon.png') no-repeat 50% 55%;
        position: absolute;
        display: block;
        margin: 0 auto;
        border: 1px solid;
        border-color: @footer-mail-border;
        border-radius: 100%;
        overflow: hidden;
        height: 38px;
        width: 38px;
        outline: none;
      }
      input {
        border: none;
        border-radius: 18px;
        height: 38px;
        width: 100%;
        outline: none;
        padding: 0 18px 0 48px;
        background-color: @footer-mail-bg;
      }
    }
  }
  .column {
    padding: 0;
    &.logo-content {
      p {
        color: @footer-text;
      }
      a {
        display: block;
        color: @footer-link;
        cursor: pointer;
        text-decoration: none;
        outline: none;

      }
    }
    li a {
      color: @footer-link;
      &:hover, &:focus, &:active {
        color: @footer-link;
      }
    }
    h3 {
      color: @footer-heading;
      font-weight: 100;
      margin-bottom: 15px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      color: @footer-text;
      li {
        margin-top: 10px;
      }
    }
    .logo {
      background: url('../img/logo_white.png') no-repeat 0 50%;
      height: 31px;
      width: 151px;
      margin-bottom: 10px;
      display: block;
    }
    &:nth-child(2) {
      width: 15%;
      white-space: nowrap;
      margin-left: 5%;
    }
    &:nth-child(3) {
      width: 25%;
      white-space: nowrap;
      margin-left: 5%;
    }
    &:nth-child(4) {
      width: 15%;
      white-space: nowrap;
      margin-left: 5%;
    }
  }
  .follow-us, .newsletter {
    h3 {
      color: @footer-link;
    }
    p {
      color: @footer-text;
      line-height: 24px;
      min-height: 24px;
      text-align: center;
      margin-bottom: 25px;
    }
  }
  .copyright {
    color: @footer-text;
    line-height: 34px;
    text-align: center;
    .pxToEm(14);
  }
}
.paraxify {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 750px) {
  #appSlider {
    min-height: 1050px !important;
    .app-desc {
      width: 72%;
      margin-left: 14%;
    }
  }
}
@media (max-width: 768px) {
  #appSlider {
    min-height: 1050px;
    .app-desc {
      width: 86%;
      margin-left: 6%;
      margin-top: 80px;
      margin-bottom: 40px;
      h4 {
        margin-bottom: 30px;
        .pxToEm(36);
        line-height: 50px;
      }
      p {
        margin-bottom: 40px;
      }
    }
    .app-wrapper {
      .iphone-mockup {
        background-position: -25px 0 !important;
      }
      .slider {
        width: 285px;
      }
      &:before {
        box-shadow: none;
      }
      &:after {
        box-shadow: none;
      }
    }
  }
  .owl-carousel {
    .owl-stage-outer {
      width: 100vw !important;
    }
  }
  #paveOs {
    .counters {
      .counter {
        .title {
          .pxToEm(23);
        }
      }
    }
  }
  #speTech {
    height: auto;
    padding: 60px 0;
  }
  #sendApp {
    p {
      .pxToEm(23);
    }
    &:before {
      background-size: 100% 100%;
    }
  }
  #camera {
    .inBox {
      &.col-sm-6 {
        width: 100%;
      }
      .inBox-cnt {
        h2 {
          text-align: center;
          .pxToEm(36);
          margin: 40px 0 70px 0;
        }
      }
    }
    .content {
      &> .col-sm-6 {
       width: 100%;
        height: auto;
        padding: 0 15px !important;
      }
      &> .col-sm-5 {
        width: 78%;
        height: auto;
        margin-left: 12%;
        padding: 0 15px !important;
      }
      .hideMobile {
        display: none !important;
      }
      .visibleMobile, .owl-nav {
        display: block !important;
      }
      .owl-controls {
        position: static;
      }
      .cameraSlider {
        .visual-camera {
          padding-top: 10px;
          padding-bottom: 40px;
          img {
            max-width: 310px;
          }
        }
      }
      .buy-block {
        .subtitle {
          margin: 10px 0 20px 0;
        }
        .subtitle, .description {
          text-align: center;
        }
        .buy {
          text-align: center;
          .btn-buy {
            .pxToEm(30);
            width: 305px;
            height: 62px;
            padding: 10px 50px 10px 90px;
            &:before {
              left: 30px;
              top: 14px;
              width: 33px;
              height: 32px;
              background-image: url('../img/bottom-part/cartIconMobile.png');
            }
          }
        }
      }
    }
  }
  #footer {
    .follow-us {
      padding-bottom: 40px;
    }
    .row {
      padding: 85px 0px 40px;
    }
    .column {
      width: 100%;
      padding: 0 15px;
      margin: 0 0 40px 0;
      &:nth-child(n) {
        width: 100%;
        padding: 0 15px;
        margin: 0 0 40px 0;
      }
    }
  }
}
@media (min-width:769px) and (max-width:991px) {
  #appSlider {
    min-height: 1000px;
    .app-desc {
      margin-top: 60px;
      h4{
        .pxToEm(36);
      }
      p {
        margin-bottom: 40px;
      }
    }
    .app-wrapper {
      .slider {
        width: 285px;
      }
      &:before {
        box-shadow: none;
      }
      &:after {
        box-shadow: none;
      }
    }
  }
  #paveOs {
    .counters {
      .counter {
        .title {
          .pxToEm(27);
        }
      }
    }
    .owl-carousel {
      .owl-stage {
        width: 100% !important;
      }
      .owl-item {
        width: 33.3333% !important;
      }
    }
  }
  #sendApp {
    p {
      .pxToEm(26);
    }
    &:before {
      background-size: 100% 100%;
    }
  }
  #speTech {
    height: auto;
    padding: 60px 0 0;
    .col-md-offset-1 {
      margin-left: 5%;
    }
    .col-md-10 {
      width: 90%;
    }
  }
  #camera {
    .content {
      .cameraSlider {
        .visual-camera {
          img {
            max-width: 310px;
          }
        }
      }
    }
    .inBox {
      .inBox-cnt {
        .feature {
          h4 {
            margin: 15px 0;
          }
        }
      }
    }
  }
  #footer {
    .column {
      width: 50%;
      padding: 0 15px;
      margin: 0 0 40px 0;
      &:nth-child(n) {
        width: 50%;
        min-height: 226px;
        padding: 0 15px;
        margin: 0 0 40px 0;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  #speTech {
    height: auto;
    padding: 60px 0 0;
    .col-md-offset-1 {
      margin-left: 5%;
    }
    .col-md-10 {
      width: 90%;
    }
  }
  #camera {
    .col-md-4 {
      width: 40%;
    }
    .col-md-offset-1 {
      margin-left: 3%;
    }
    .content {
      .buy-block {
        .title {
          .pxToEm(68);
          .price {
            font-size: 20px;
          }
        }
      }
    }
    .inBox {
      .inBox-cnt {
        .feature {
          h4 {
            margin: 15px 0;
          }
          img {
            max-width: 100px;
          }
        }
      }
    }
  }
  #footer {
    .col-md-10 {
      width: 100%;
    }
    .col-md-offset-1 {
      margin-left: 0%;
    }
    .column {
      &.logo-content {
        width: 30%;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  #appSlider {
    min-height: 960px;
    .app-desc {
      margin-top: 40px;
      h4 {
        .pxToEm(36);
      }
    }
    .app-wrapper {
     &:before {
       box-shadow: none;
     }
     &:after {
       box-shadow: none;
     }
    }
  }
  #paveOs {
    .owl-carousel {
      .owl-stage {
        width: 100% !important;
      }
      .owl-item {
        width: 33.3333% !important;
      }
    }
  }
  #sendApp {
    &:before {
      background-size: 100% 100%;
    }
  }
  #speTech {
    height: 100vh;
    padding: 60px 0;
  }
  #camera {
    .content {
      .cameraSlider {
        .visual-camera {
          img {
            max-width: 310px;
          }
        }
      }
    }
    .inBox {
      .inBox-cnt {
        .feature {
          h4 {
            margin: 15px 0;
          }
        }
      }
    }
  }
  #footer {
    .column {
      &.logo-content {
        width: 30%;
      }
    }
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  #footer {
    .col-md-10 {
      width: 83.33333333%;
    }
    .col-md-offset-1 {
      margin-left: 8.33333333%;
    }
    .column {
      &.logo-content {
        width: 30%;
      }
    }
  }
  #speTech {
    .col-lg-8 {
      width: 83.3333%;
    }
    .col-lg-offset-2 {
      margin-left: 8.3333%;
    }
  }
  #camera {
    .content {
      .cameraSlider {
        .visual-camera {
          img {
            max-width: 310px;
          }
        }
      }
      &> div {
        &:nth-child(2) {
          margin-left: 5%;
          width: 33%;
        }
      }
    }
    .inBox {
      .inBox-cnt {
        .feature {
          h4 {
            margin: 10px 0;
          }
          img {
            max-width: 100px;
          }
        }
      }
    }
  }
}
@media (min-width: 1281px) {
  #appSlider {
    min-height: 1000px;
    .app-wrapper {
      &:before {
        box-shadow: 0 0 150px 400px rgba(255,255,255,1);
      }
      &:after {
        box-shadow: 0 0 150px 400px rgba(255,255,255,1);
      }
    }
  }
  #paveOs {
    .owl-carousel {
      .owl-stage {
        width: 100% !important;
      }
      .owl-item {
        width: 33.3333% !important;
      }
    }
  }
  #speTech {
    height: 100vh;
    padding: 160px 0;
  }
  #footer {
    &> .container {
      &> .col-lg-8 {
        width: 70%;
      }
      &> .col-lg-offset-2 {
        margin-left: 15%;
      }
    }
    .column {
      &.logo-content {
        width: 30%;
      }
    }
  }
}
@media (min-width: 1281px) and (max-width: 1366px) {
  #speTech {
    height: 100vh;
    padding: 60px 0;
    .col-lg-8 {
      width: 70.6667%;
      margin-left: 13.6667%;
    }
    .speTech {
      padding-bottom: 20px;
    }
  }
  #camera {
    .content {
      .cameraSlider {
        .visual-camera {
          img {
            max-width: 310px;
          }
        }
      }
      &> div {
        &:nth-child(2) {
          width: 32%;
        }
      }
    }
    .inBox {
      .inBox-cnt {
        .feature {
          h4 {
            margin: 10px 0;
          }
          img {
            max-width: 100px;
          }
        }
      }
    }
  }
}