
/*== ANIMATION CLASS =======================*/

/*==========================================*/

.is-min-height {
  min-height: 888px;
}


.items {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 5px;
  .inBox-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 32px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    span.icon-bar {
      display: block;
      width: 36px;
      height: 4px;
      border-radius: 3px;
      background-color: #44bbff;
      margin-bottom: 5px;
    }

  }
}

.scroll {
  position: absolute;
  bottom: 105px;
  text-align: center;
  width: 100%;
  left: 0;
  color: @home-scroll;

  .scroll-btn {
    background-image: url('../img/scroll.png');
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    position: relative;
    margin-left: -15px;
    left: 50%;
    bottom:0;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
}

/*== Begin  _header.less ======================*/


#header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: @header-bg;
  z-index: 10;
  overflow: hidden;
  height: 60px;
  border-top: 1px solid;
  border-color: @header-border;

  #navbar {
    margin: 0;

    ul {
      list-style: none;
      display: table;
      padding: 0;

      li {
        display: table-cell;
        vertical-align: middle;
        width: 16%;
        overflow: hidden;
        text-align: center;
        border-left: 1px solid;
        border-color: @header-border1;
        a {
          .pxToEm(14);
          cursor: pointer;

          div {
            position: relative;
            top: 0;
            line-height: 60px;
            height: 60px;
            -webkit-transition: top 800ms;
            -moz-transition: top 800ms;
            -o-transition: top 800ms;
            transition: top 800ms;
            color: @header-link;
            font-family: 'Zona-Light', sans-serif;
            &.active {
              color: @header-link-h;
            }
          }
          &:hover {
            div {
              top: -60px;
            }
          }
        }

        &:last-child {
          vertical-align: top;
          text-align: center;
        }
      }
      .items {
        .items;
      }
    }
  }

  .btn-buy {

    span {
      top: 0;
      -webkit-transition: top 500ms;
      -moz-transition: top 500ms;
      -o-transition: top 500ms;
      transition: top 500ms;

      display: block;
      width: 180px;
      margin: 10px auto;
      height: 40px;
      font-weight: 600;
      border-radius: 100px;
      text-transform: uppercase;
      color: @buy-text-blue;
      padding: 5px 20px 5px 50px;
      border: 2px solid;
      border-color: @buy-text-blue;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        top: 9px;
        left: 20px;
        width: 19px;
        height: 19px;
        background: url('../img/shopping-cart-blue.png') no-repeat 0 0;
      }

      &.active {
        color: @buy-text;
        border-color: @buy-text;

        &:before {
          background: url('../img/shopping-cart.png') no-repeat 0 0;
        }
      }
    }

    &:hover {
      span {
        top: -50px;
      }
    }
  }
}

#home {
  height: 100%;
  background-color: @home-bg;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('../img/home-background.jpg');
  background-size: 100% 100%;
  top: 0;
  left: 0;
  margin-bottom: -60px;
  position: fixed;

  #home-navbar {
    #search {
      display: none;
    }
    #forMobile {
      float: right;
      display: none;
      .items {
        .items;
        .inBox-toggle {
          margin-top: 0;
          span.icon-bar {
            background-color: @home-scroll;
          }
        }
      }
    }
  }

  .roundet {
    width: 0 !important;
    height: 0 !important;
    border-radius: 50%;
  }

  .content {
    display: table;
    height: ~"calc(100vh - 265px)";
    position: static;

    &> div {
      display: table-cell;
      vertical-align: middle;

      &:nth-child(1){
        width: 60%;
        text-align: center;
      }

      &:nth-child(2){
        width: 40%;
      }
      &:nth-child(3){
        display: none;
      }
    }

    .buy-block {

      .stamp {

        display: inline-block;
        text-transform: uppercase;
        font-family: "Zona Pro Bold", sans-serif;
        .pxToEm(16);
        color: @stamp-text;
        background-color: @stamp-bg;
        padding: 0 9px;
        line-height: 30px;
      }

      .title {
        color: @content-text;
        font-family: "Zona-Light", sans-serif;
        margin: 0 0 0.35em 0;
        line-height: 0.85em;
        font-weight: 100;
        .pxToEm(83);
      }

      .subtitle {
        margin: 0 0 0.2em;
        color: @content-text;
        font-family: "Zona Pro SemiBold", sans-serif;
        .pxToEm(18);
      }

      .description {
        color: @content-text;
        line-height: 29px;
        margin-bottom: 30px;
        .pxToEm(16);
      }

      .buy {

        .price {
          margin-right: 30px;
          font-weight: 300;
          font-family: "Zona-Light", sans-serif;
          .pxToEm(24);
        }

        .btn-buy {
          .pxToEm(17);
          width: 180px;
          height: 40px;
          border-radius: 100px;
          text-transform: uppercase;
          color: @buy-text;
          padding: 5px 20px 5px 50px;
          background: transparent;
          border: 2px solid;
          border-color: @buy-text;
          position: relative;

          &:before {
            position: absolute;
            content: '';
            top: 9px;
            left: 20px;
            width: 19px;
            height: 19px;
            background: url('../img/shopping-cart.png') no-repeat 0 0;

          }
          &:hover {
            color: @buy-text-blue;
            border-color: #fff;
            background: #fff;
            &:before {
              background: url('../img/shopping-cart-blue.png') no-repeat 0 0
            }
          }
        }
      }
    }

    .scroll {
      .scroll;
      .scroll-btn {
        .scroll-btn;
      }
      .scroll-btn, p {
        cursor: pointer;
      }
    }
  }

  .first-page-desc-show {
    opacity: 1 !important;
  }

  .home-first-page {

    height: 100%;
    position: relative;
    width: 100%;
    top: -10px;
    overflow: hidden;
    transition: all 5s;
    .home-first-page-bg {
      background-image: url("../img/home/home-fp-bg.jpg");
      background-position: 50% 50%;
      background-size: cover;
      text-align: center;
      padding-top: 260px;
      width: 100%;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: @home-fp-bg;
      }

      .first-page-contetn{
        .cam-circle {
          opacity: 0;
          margin-top: 30px;
          transition: all .5s cubic-bezier(0.4,.85,.49,.99) .5s;
        }
        .show-cam {
          opacity: 1;
          margin-top: 0;
        }
      }
      .first-page-desc {
        margin-top: 55px;
        opacity: 0;
        transition: all .5s cubic-bezier(0.4,.85,.49,.99) 1.7s;
        p {
          color: @content-text;
          .pxToEm(24);
        }
        .first-page-caption {
          text-transform: uppercase;
          .pxToEm(36);
        }
        .first-page-btn {
          display: inline-block;
          line-height: 40px;
          background-color: @home-bg;
          width: 245px;
          text-align: center;
          .border-radius(20px);
          color: @home-scroll;
          .pxToEm(14);
          margin-top: 20px;
          cursor: pointer;
        }
      }
    }

  }

}

#sub-header {
  background: @sub-header-bg;
  height: 31px;
  color: @sub-header-color;

  ul {
    list-style: none;
    float: right;

    li {
      float: left;
      text-align: center;
      border-left: 1px solid;
      border-color: @sub-header-border;
      line-height: 31px;
      width: 185px;
      height: 31px;

      a {
        display: block;
        line-height: 31px;

        div {
          margin: 0;
          position: relative;
          top: 0;
          color: @sub-header-color;

        }

        .sub-header_active-country {
          display: block;
        }
        .sub-header_nonactive-country {
          display: none;
        }
      }

      &:last-child {
        width: 47px;
      }
      &:hover {
        background-color: @home-navbar-link-hover-color;
      }
    }
  }

  .social {
    background: url('../img/share.jpg') no-repeat 0 0;
    position: relative;
    display: block;
    top: 0;
    height: 31px;
    width: 47px;
  }
}

#home-navbar {
  padding: 25px 0;
  color: @home-navbar-link;
  z-index: 1000;

  .logo  {
    a {
      display: block;
      font-family: "Zona Pro SemiBold", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      .pxToEm(22);
      color: @home-navbar-text2;
      }

    .imgSecondLogo {
      position: relative;
      color:@home-navbar-text1;
      &:before {
        content: '';
        width: 33px;
        height: 31px;
        background-image: url('../img/home/sprite-logo.png');
        background-position: 0 0;
        position: absolute;
        top: -2px;
        left: -40px;
      }
    }
  }

  .home-menu {

    ul {
      list-style: none;
      line-height: 38px;
      .clearfix;

      li {
        float: left;
        margin: 0 5%;
        text-transform: uppercase;

        a {
          font-family: "Zona Pro SemiBold", sans-serif;
          color: @home-navbar-text1;
          font-weight: 600;
          .pxToEm(15);
        }
      }
    }
  }
}

#search-btn {
  background-image: url('../img/search-icon.png');
  background-repeat: no-repeat;
  background-size: auto;
  display: block;
  height: 38px;
  width: 38px;

  &:hover {
    background-image: url('../img/search-icon-active.png');
  }
}

.section-active {
  display: block;
}

.section-nonactive {
  display: none;
}

/*== END  _header.less ======================*/
/*== Begin Player ===========================*/

#player {
  background-color: @player-bg;
  background-image: url('../img/player-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  z-index: 6;

  .player-bg {
    width: 70%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

    img {
      width: 70%;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    left: 14%;
    transform: scale(1);
    transition: transform 4s;
  }

  img.playerAnim {
    transform: scale(1.2);
  }

  #play {
    background-image: url('../img/play-button.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 114px auto;
    display: none;
    position: absolute;
    top: 30%;
    left: ~"calc(49% - 147.5px)";
    cursor: pointer;
    height: 320px;
    width: 320px;

    div {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      //opacity: 0;
    }

    #firstWave {
      border: 2px solid rgba(68, 187, 255, 1);
      border-radius: 100%;
      height: 55%;
      width: 55%;
      top: 22.5%;
      left: 22.5%;
      opacity: 0;
    }

    #secondWave {
      border: 2px solid rgba(68, 187, 255, 0.75);
      border-radius: 100%;
      height: 70%;
      width: 70%;
      top: 15%;
      left: 15%;
      opacity: 0;
    }

    #thirdWave {
      border: 2px solid rgba(68, 187, 255, 0.5);
      border-radius: 100%;
      height: 85%;
      width: 85%;
      top: 7.5%;
      left: 7.5%;
      opacity: 0;
    }

    #fourthWave {
      border: 2px solid rgba(68, 187, 255, 0.25);
      border-radius: 100%;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  .tabs {
    position: absolute;
    width: 1010px;
    top: ~"calc(100% - 195px)";
    -webkit-transition: padding-top 1s linear;
    -moz-transition: padding-top 1s linear;
    -o-transition: padding-top 1s linear;
    transition: padding-top 1s linear;
    overflow: hidden;
    padding-top: 125px;
    height: 140px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    .hvr-underline-from-center {
      &:before {
        z-index: 9999;
      }
    }

    .tab {
      width: 320px;
      height: 120px;
      float: left;
      text-align: left;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      padding: 0 ;
      margin: 0 1%;
      margin-top: 20px;
      .box-sizing(border-box);
      transition: all linear .3s;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
       &>span {
        font-family: "Zona-Light", sans-serif;
        color: @player-text1;
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        z-index: 1;
        .pxToEm(16);
        &:first-child {
            font-family: "Zona Pro SemiBold", sans-serif;
            .pxToEm(20);
            color: @player-text2;
        }
      }

      img {
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        -webkit-filter: brightness(.5);
        filter: brightness(.5);
      }

      &:hover {
        height: 125px;
          margin-top: 0px;
        img {
          -webkit-filter: brightness(.4);
          filter: brightness(.4);
        }
      }
    }

    &:after {
      clear: both;
      content: '';
      display: table;
    }

  }
}



/*== End Player =============================*/
/*== Begin Pave1=============================*/

#pave1 {
  background-color: @pav1-bg;
  z-index: 6;

  .counters {

    &:after {
      clear: both;
      content: '';
      display: table;
    }

    .counter {
      border-right: 1px solid @pave1-border;
      padding: 65px 0 60px 0;

      span {
        display: block;
        text-align: center;
        font-family: "Zona-Light", sans-serif;
        font-weight: 300;
      }
      .title {
        color: @pave1-title;
        .pxToEm(32);
      }
      .count {
        color: @pave1-count;
        .pxToEm(152)

      }
      .fps {
        color: @pave1-fps;
        .pxToEm(18)
      }

      &:last-child {
        border: none;
      }
    }
  }
}

/*== End Pave2===============================*/
/*== Begin Gallery ===============================*/

#gallery {
  background-color: @gallery-bg;
  background-image: url('../img/gallery-bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 5;
  position: relative;
  display: table;
  height: 460px;

  .gallery {
    display: table-cell;
    vertical-align: middle;
  }

  p {
    .pxToEm(32);
    color: @gallery-text;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Zona Pro";
  }

  button {
    background: transparent;
    border: 2px solid;
    border-color: @gallery-border;
    border-radius: 40px;
    color: @gallery-btn;
    height: 38px;
    width: 195px;
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    text-transform: uppercase;
    //.pxToEm(12);
    &:hover {
      background-color:  @gallery-border;
      color:#fff;
    }
  }
}

/*== End Gallery ===============================*/

#home-navbar {
  .activePop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    .home-menu {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        display: block;
        width: 40%;
        margin: 0 auto;
        li {
          float: none;
          text-align: center;
          a {
            color: @home-scroll;
            line-height: 6;
          }
        }

      }

    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .is-min-height {
    min-height: 768px;
  }

  .scroll {
    bottom: 120px;
    p {
      display: none;
    }
  }

  #home-navbar {
    .logo {
      a {
        .pxToEm(19);
        line-height: 31px;
      }
    }

    .home-menu {
      ul {
        li {
          a {
            .pxToEm(12);
            line-height: 31px;
          }
        }
      }
    }
  }

  #header {
    .btn-buy {
      span {
        width: 125px;
        padding: 5px 20px 5px 20px;
        &::before {
          background: none;
        }
      }
    }
  }

  #player {
    .tabs {
      width: 100% !important;
      .tab {
        width: 31%;
        &:first-child {
          margin-left: 1.5%;
        }
      }
    }
  }

  #pave1 {
    .counters {
      .counter {
        .count {
          color: @pave1-count;
          .pxToEm(100);
        }
      }
    }
  }
}

/*(min-width: 750px) and*/

@media (min-width: 750px) and (max-width: 768px) {

  #home-navbar {
    .home-menu, #search {
      display: none;
    }
    #forMobile {
      display: block !important;
    }
  }

  #player {
    .player-bg {
      width: 80%;
      img {
        width: 80%;
        left: 10%;
        bottom: 358px;
      }
      #play {
        top: 15%;
      }
    }
    #play {
      top: 15%;
    }
    .tabs {
      width: 100%;
      top: auto;
      bottom: 0;
      height: auto;
      padding-top: 0;
      .tab {
        width: 100%;
        margin: 0;
        img {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }


  #home {
    .content {
      .scroll {
        bottom: 50px;
        p {
          display: none;
        }
      }
      &> div {
        display: block;
        vertical-align: none;
        &:nth-child(1){
          width: 60%;
          text-align: center;
          display: none;
        }

        &:nth-child(2){
          width: 90%;
          text-align: center;
          margin: 0 auto;
          margin-top: 40px;
        }
        &:nth-child(3){
          display: block;
          position: absolute;
          bottom: -50px;
          img {
            width: 80%;
            margin: 0 9%;
          }
        }
      }

    }
  }

  #header {
    .btn-buy {
      span {
        width: 100px;
        padding: 5px 0;
        &::before {
          background: none;
        }
      }
      span.active {
        &::before {
          background: none;
        }
      }
    }
  }

  #pave1 {
    .counters {
      .counter {
        .count {
          color: @pave1-count;
          .pxToEm(100);
        }
      }
    }
  }

}@media (max-width: 750px) {

  #home-navbar {
    .home-menu, #search {
      display: none;
    }
    #forMobile {
      display: block !important;
    }
  }

  #player {
    overflow: hidden;
    background-image: none;
    height: auto;
    .player-bg {
      display: none;
      #play {
        display: none;
      }
    }
    .tabs {
      width: 100%;
      top: 0;
      height: inherit;
      position: static;
      padding: 0;
      .tab {
        width: 100%;
        margin: 0;
        height: 397px;
        span {
          text-align: center;
        }
        img {
          width: 100%;
          opacity: 1;
        }
        &:hover {
          height: 397px;
        }
      }
    }
  }


  #home {
    .content {
      .scroll {
        bottom: 50px;
        p {
          display: none;
        }
      }
      &> div {
        display: block;
        vertical-align: none;
        &:nth-child(1){
          width: 60%;
          text-align: center;
          display: none;
        }

        &:nth-child(2){
          width: 90%;
          text-align: center;
          margin: 0 auto;
          margin-top: 40px;
        }
        &:nth-child(3){
          display: block;
          position: absolute;
          bottom: -50px;
          img {
            width: 80%;
            margin: 0 9%;
          }
        }
      }

    }
  }

  #header {
    display: none;
  }

  #pave1 {
    .counters {
      .counter {
        .count {
          color: @pave1-count;
          .pxToEm(100);
        }
      }
    }
  }


}

