#function {
  background-color: @function-bg;
  position: relative;
  //height: 100vh;
  z-index: 6;
  .slide-function {
    height: 100vh;
    //height: 100%;
    overflow: hidden;
    &> div {
      height: 100%;
      display: table;
      padding: 0;
    }
    .image, .content {
      display: table-cell;
      vertical-align: middle;
    }
    .image {
      text-align: center;
      img {
        max-width: 620px;
        width: 100%;
        vertical-align: middle;
        display: inline-block;
      }
    }
    .content {
      .title {
        font-family: "Zona Pro", sans-serif;
        .pxToEm(32);
        margin-bottom: 50px;
        color: @function-title;
        line-height: 1.389;
      }
      h5 {
        font-family: "Zona Pro", sans-serif;
        color: @function-title;
        line-height: 1.389;
        .pxToEm(18);
      }
      .body {
        .pxToEm(14);
        font-family: "Zona Pro", sans-serif;
        color: #898989;
        line-height: 1.875;
      }
      .properties {
        margin-top: 50px;
        div {
          border: 2px solid @function-forder;
          border-radius: 100%;
          height: 83px;
          width: 83px;
          font-family: "Zona Pro", sans-serif;
          .pxToEm(8.5);
          text-align: center;
          float: left;
          margin-right: 18px;
          padding: 12px;
          p {
            color: #4b4b4b;
          }
          span {
            color: @function-span;
          }
        }
        &:after {
          clear: both;
          content: '';
          display: table;
        }
      }
    }
    &:nth-child(1) {
      &> div:first-child {
        background: url('../img/function-bg1.jpg');
        background-size: cover;
      }
    }
    &:nth-child(2) {
       &> div:first-child {
         background: url('../img/function-bg2.jpg');
         background-size: cover;
       }
      .image {
        vertical-align: bottom;
      }
    }
    &:nth-child(3) {
      &> div:first-child {
        background: url('../img/function-bg3.jpg');
        background-size: cover;
      }
      .content:first-child {
        .properties {
          div {
            border: none;
            border-radius: 0;
            height: 60px;
            padding: 0;
            width: auto;
            display: inline-block;
            vertical-align: middle;
            img {
              max-height: 100%;
              float: left;
            }
          }
        }
      }
    }
  }
}
//.properties-mobile {
//  .owl-carousel {
//    .owl-stage-outer {
//      width: ~"calc(100vw - 60px)" !important;
//    }
//  }
//
//  .counter {
//    &> div {
//      border-radius: 100%;
//      background: #4bf;
//      width: 100px;
//      height: 100px;
//    }
//  }
//}
@media (max-width: 750px) {
  #function {
    .slide-function {
      height: auto;
      &> div {
        min-height: 480px;
      }
      .hidden {
        display: block !important;
      }
      .content {
        width: 100%;
        float: left;
        &:last-child {
          h5 {
            .pxToEm(36)
          }
          .properties {
            display: none;
          }
        }
      }
      .col-xs-10 {
        padding: 0 40px;
        width: 100% !important;
      }
      .col-xs-offset-1 {
        margin-left: 0% !important;
      }
      .content {
        padding: 80px 0;
        text-align: left !important;
        .title {
          .pxToEm(58);
          font-weight: 700;
        }
        .body {
          .pxToEm(26);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #function {
    .slide-function {
      height: auto;
      &> div {
        height: 480px;
      }
      .col-xs-10 {
        width: 83.3333%;
      }
      .col-xs-offset-1 {
        margin-left: 8.3333%;
      }
      .col-xs-12 {
        width: 100%;
      }
      .image {
        img {
          max-width: 320px;
        }
      }
      .content {
        text-align: center;
        .title {
          margin-bottom: 35px;
        }
        .properties {
          text-align: center;
          margin-top: 35px;
          div {
            float: none;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
@media (min-width:769px) and (max-width:1024px) {
  #function {
    .slide-function {
      .col-md-offset-1 {
        margin-left: 6%;
      }
      .col-md-4 {
        width: 37%;
      }
      .image {
        img {
          max-width: 480px;
        }
      }
      .content {
        .title {
          .pxToEm(30);
        }
        .properties {
          div {
            height: 83px;
            width: 83px;
            text-align: center;
            margin-right: 10px;
            padding: 10px;
          }
        }
      }
      &:nth-child(3) {
        .content:first-child {
          .properties {
            div {
              height: 50px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  #function {
    .slide-function {
      .col-md-offset-1 {
        margin-left: 6%;
      }
      .col-md-4 {
        width: 37%;
      }
      .image {
        img {
          max-width: 560px;
        }
      }
      &:nth-child(2) {
        .title {
          margin-right: 55px;
        }
      }
      &:nth-child(3) {
        .content:first-child {
          .properties {
            div {
              height: 50px;
            }
          }
        }
      }
    }
  }
}