@font-face {
  font-family: "Zona Pro";
  src: url('../fonts/ZonaPro.otf');
}
@font-face {
  font-family: "Zona Pro Bold";
  src: url("../fonts/ZonaPro-Bold.otf");
}
@font-face {
  font-family: "Zona Pro SemiBold";
  src: url("../fonts/ZonaPro-SemiBold.otf");
}
@font-face {
  font-family: "Zona-Light";
  src: url("../fonts/ZonaPro-Light.otf");
}
@font-face {
  font-family: "Zona Pro RegularItalic";
  src: url("../fonts/ZonaPro-RegularItalic.otf");
}
